################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assignment 7 - Methods/.vs/Assignment 7 - Methods/v15/Server/sqlite3
