################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab1/.vs/Lab1/v15/Server/sqlite3
/Lab 2 Calculate Batting Average/Lab 2 Calculate Batting Average
